<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing" thread-count="2" parallel="methods">
  <test  name="Test Parallel">
    <classes>
      <class name="com.parrallel.ParrallelExecution"/>
    </classes>
  </test> <!-- Test Parallel -->
</suite> <!-- ParallelTesting -->
